{% extends 'base.html' %}

    {% block title%}
    	<title>About-Us</title>
    {% endblock title %}

    {% block content%}
    	<h1 style="text-align: center;">Welcome to About page</h1>
    	<p style="text-align: center;"> This is a To do list Web Application. To do list application is widely used for our busy life. With this app you can add your daily task, edit your task
    	and delete your task. Hope this app will make your life easy by reminding your daily task.</p>
    {% endblock content %}